body {
  overflow: hidden;
  margin-top: 70px;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  background-color: rgb(4, 38, 130);
  box-shadow: inset 6px 6px 10px 0 rgba(115, 157, 234, 0.845),
    inset -6px -6px 10px 0 rgb(1, 1, 35);
  color: whitesmoke;
}

.header h1 {
  margin: 0px;
  padding: 0px;
}