.user {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    background-color: rgb(4, 38, 130);
    box-shadow: inset 6px 6px 10px 0 rgba(115, 157, 234, 0.845),
        inset -6px -6px 10px 0 rgb(1, 1, 35);
}

.user:hover {
    color: darkblue;
    background-color: whitesmoke;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
        inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.user h1 {
    color: whitesmoke;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    background-color: rgb(4, 38, 130);
    box-shadow: inset 6px 6px 10px 0 rgb(1, 1, 35),
        inset -6px -6px 10px 0 rgba(115, 157, 234, 0.845);
}

.user:hover h1 {
    color: darkblue;
    background-color: whitesmoke;
    box-shadow: inset 6px 6px 10px 0 rgba(255, 255, 255, 0.5),
        inset -6px -6px 10px 0 rgba(0, 0, 0, 0.2);
}